
/*s-content-desktop_light.css*/
#hwundintro980x300 {margin: 0 auto; z-index: 20; position: relative; overflow: hidden; border: 1px solid #999999; text-align: left;
	background: #9b4f96;
}
#hwundintro980x300 h1,
#hwundintro980x300 h2,
#hwundintro980x300 h3,
#hwundintro980x300 h4 {font-weight: normal; line-height: 1em; position: absolute; z-index: 3000; color: #ffffff; padding: 0; margin: 0;
	font-family: "SegoeProLight", Arial, sans-serif;
}
#hwundintro980x300 .learnmore {position: absolute; z-index: 3200; cursor: pointer; width: 145px; height: 24px; background-color: transparent; background-repeat: no-repeat; background-position: top left; background-image: url(/feber_980/funstuff/intro_980x300/img/bn_learnmore_purple.png);}
#hwundintro980x300 .learnmore a {display: block; text-indent: -9999px; height: 24px;}
#hwundintro980x300 .logo {background: transparent url(/feber_980/funstuff/intro_980x300/img/logo.png) no-repeat top left; position: absolute; z-index: 3200; width: 101px; height: 20px; text-indent: -9999px; overflow: hidden;}
#hwundintro980x300 .fullclick {position: absolute; left: 0px; top: 0px; z-index: 5000; width: 100%; height: 100%; cursor: pointer;}
#hwundintro980x300.full {width: 978px; height: 298px;}
#hwundintro980x300.full .learnmore {right: 20px; bottom: 20px;}
#hwundintro980x300.full .logo {left: 20px; bottom: 22px;}
#hwundintro980x300.full {background: #9b4f96 url(/feber_980/funstuff/intro_980x300/img/sequence/IntroBanner_V003_00084.jpg) no-repeat 220px top;}
#hwundintro980x300.full h2 {font-size: 76px; left: 20px; top: 90px;}
#hwundintro980x300.full h3 {display: none;}
#hwundintro980x300.full .prerollclick {position: absolute; left: 700px; top: 45px; width: 250px; height: 150px; z-index: 5005; cursor: pointer;}
#hwundintro980x300.tablet {width: 766px; height: 233px;}
#hwundintro980x300.tablet .learnmore {right: 20px; bottom: 20px;}
#hwundintro980x300.tablet .logo {left: 20px; bottom: 22px;}
#hwundintro980x300.tablet {background: #9b4f96 url(/feber_980/funstuff/intro_980x300/img/sequence/IntroBanner_V003_00084.jpg) no-repeat 120px -30px;}
#hwundintro980x300.tablet h2 {font-size: 64px; left: 20px; top: 73px;}
#hwundintro980x300.tablet h3 {display: none;}
#hwundintro980x300.tablet .prerollclick {position: absolute; left: 610px; top: 0px; width: 156px; height: 170px; z-index: 5005; cursor: pointer;}
#hwundintro980x300.mobile {width: 318px; height: 96px;}
#hwundintro980x300.mobile .learnmore {right: 25px; top: 39px;}
#hwundintro980x300.mobile .logo {left: 25px; top: 38px;}
#hwundintro980x300.mobile h2 {display: none;}
#hwundintro980x300.mobile h3 {display: none;}
#hwundintro980x300.mobile .logo {top: 27px; left: 54px; background-size: 100%; background-image: url(/feber_980/funstuff/intro_980x300/img/logo_large.png); width: 210px; height: 40px;}
#hwundintro980x300.mobile .learnmore {display: none;}


/*s-fonts-desktop_light.css*/
@font-face {
	font-family: 'SegoeProLight';
	src: url('/feber_980/funstuff/intro_980x300/css/fonts/SegoePro-Light.eot');
	src: url('/feber_980/funstuff/intro_980x300/css/fonts/SegoePro-Light.eot?#iefix') format('embedded-opentype'),
		 url('/feber_980/funstuff/intro_980x300/css/fonts/SegoePro-Light.woff') format('woff'),
		 url('/feber_980/funstuff/intro_980x300/css/fonts/SegoePro-Light.ttf') format('truetype'),
		 url('/feber_980/funstuff/intro_980x300/css/fonts/SegoePro-Light.svg#SegoePro-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}

